
.container{
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 50fr 1fr;
    grid-template-areas: "header header" "main main";
    text-decoration: none;

}

#canvas{
    width: 100%;
    height: 100%;

}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(250, 250, 250);
}

header{
    margin-top: 4px;
    margin-bottom: 10px;
    grid-area: header;
}
main{
    grid-area: main;
    background-color: rgb(255, 255, 255);

}